{% load static %}
<!DOCTYPE html>
<html>
	{% block headblock %}
	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<script type="text/javascript" src="{% static "js/jquery-1.8.1.min.js" %}"></script>
		<link rel="stylesheet" href="{% static "css/swiper.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/first_page.css"%}" />
		<script type="text/javascript" src="{% static "js/index.js" %}"></script>

	</head>
	{% endblock headblock %}
	<body>
		<div class="imgInfo"><img src='{% static "img/camp.jpg" %}' class="campImg" /></div>
		<div class="yimi_head_part">
			<ul class="login_btn">
			{% if  user%}
				<li class="user">{{user.name}}</li>
				<div class="set">
					<div><a href="">个人中心</a></div>
					<div><a href="{% url 'front_logout'%}">注销</a></div>
				</div>
			{% else %}
				<li class="border"><a href="{% url 'front_login'%}">登陆</a></li>
				<li><a href="">注册</a></li>
			{% endif %}
			</ul>
		</div>
		<div class="search_box">
			<div class="search_wai">
				<div class="search_left"><img class="Small_logo" src="{% static "img/logo.png" %}" alt="logo"></div>
				<div class="search_mid">
					<input type='text' class="search" /><a class="buttom_a" href='#'><img class='search_buttom' src='{% static "img/search.png" %}' alt='搜索'/></a>
					<ul class="cav">
						{% for category in categorys %}
							<li>{{category.name}}</li>
						{%empty%}
						{% endfor %}
					</ul>
				</div>

				<div class="search_right">
					<a href="#"><div class="shop_Cart"><img class="cart_logo" src="{% static "img/ShopCart.png" %} " alt="shopcart" /><span>我的购物车</span></div></a>
				</div>
			</div>
		</div>
		{% block bodyblock %}
			
		{% endblock bodyblock %}
	</body>
</html>