{% extends "base_index.html" %}
{% load static %}
{% block bodyblock %}
		<!-- 轮播图 -->
		<div class="yimi_first_container">
			<div class="all_cont">
				<div class="goods_avg_left"></div>
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide yimi_swiper_slide_img"><img src="{% static "img/1478602918219.jpg" %}"></div>
				        <div class="swiper-slide yimi_swiper_slide_img"><img src="{% static "img/1478581883264.jpg" %}"></div>
				        <div class="swiper-slide yimi_swiper_slide_img"><img src="{% static "img/1479087351368.jpg" %}"></div>
				    </div>
				   <div class="swiper-pagination"></div>
				</div>
				<div class="goods_avg_right"></div>
			</div>
		</div>
		<!-- 新上架的商品 -->
		<div class="center_cont">
			<div class="new_commodity"><h2 class="new_title">新上架の商品</h2></div>
		</div>
		<div class="menu">
				<div class="swiper-wrapper yimi_new_goods">
					<div class="swiper-slide yimi_swiper_pic">
						<img src="img/55f90ad3N1f89efad.jpg">
						<span>泸州老窖</span>
					</div>
					<div class="swiper-slide yimi_swiper_pic">
						<img src="img/SP_00208186_0_5.jpg">
						<span>五粮液</span>
					</div>
					<div class="swiper-slide yimi_swiper_pic">
						<img src="img/u=2516915551,1605578428&fm=21&gp=0.jpg">
						<span>贵州茅台</span>
					</div>
					<div class="swiper-slide yimi_swiper_pic">
						<img src="img/FkahRDZu-iOgQbExarwL8lhiIFog.jpg!280x280.jpg">
						<span>邵阳老酒</span>
					</div>
					<div class="swiper-slide yimi_swiper_pic">
						<img src="img/u=361590257,2194843121&fm=21&gp=0.jpg">
						<span>精品国公</span>
					</div>
					<div class="swiper-slide yimi_swiper_pic">
						<img src="img/55f90ad3N1f89efad.jpg">
						<span>泸州老窖</span>
					</div>
					<div class="swiper-slide yimi_swiper_pic">
						<img src="img/SP_00208186_0_5.jpg">
						<span>五粮液</span>
					</div>
					<div class="swiper-slide yimi_swiper_pic">
						<img src="img/u=2516915551,1605578428&fm=21&gp=0.jpg">
						<span>贵州茅台</span>
					</div>
					<div class="swiper-slide yimi_swiper_pic">
						<img src="img/FkahRDZu-iOgQbExarwL8lhiIFog.jpg!280x280.jpg">
						<span>邵阳老酒</span>
					</div>
					<div class="swiper-slide yimi_swiper_pic">
						<img src="img/u=361590257,2194843121&fm=21&gp=0.jpg">
						<span>精品国公</span>
					</div>
				</div>
		</div>
			<div class="new_commodity"><h2 class="new_title">人气の商品</h2></div>	
			</div> 
			<div class="yimi_goods_main">
				<div class="menu">
					<div class="swiper-wrapper yimi_goods_mains">
						<div class="swiper-slide yimi_swiper_goods_img">
							<img src="img/74bb231e7f345f2b10084c3c6fbbfc9d6d88d3ae.png">
							<span class="yimi_goods_add"></span>
							<span class="yimi_new_goods_span">新疆游牧&nbsp;阿勒泰羊蝎子</span>
							<span class="yimi_new_goods_gy">清心湖  350g</span>
							<span class="yimi_new_goods_price">￥30.00</span>
						</div>
						<div class="swiper-slide yimi_swiper_goods_img">
							<img src="img/721a331f465efee7ce60b3fabdf36888e99bf7fd.png">
							<span class="yimi_goods_add"></span>
							<span class="yimi_new_goods_span">产地直供&nbsp;无常有机稻花香&nbsp;&nbsp;5kg</span>
							<span class="yimi_new_goods_gy">心作坊  5kg</span>
							<span class="yimi_new_goods_price">￥118.00</span>
						</div>
						<div class="swiper-slide yimi_swiper_goods_img">
							<img src="img/74bb231e7f345f2b10084c3c6fbbfc9d6d88d3ae.png">
							<span class="yimi_goods_add"></span>
							<span class="yimi_new_goods_span">新疆游牧&nbsp;阿勒泰羊蝎子</span>
							<span class="yimi_new_goods_gy">清心湖  350g</span>
							<span class="yimi_new_goods_price">￥30.00</span>
						</div>
						<div class="swiper-slide yimi_swiper_goods_img">
							<img src="img/721a331f465efee7ce60b3fabdf36888e99bf7fd.png">
							<span class="yimi_goods_add"></span>
							<span class="yimi_new_goods_span">产地直供&nbsp;无常有机稻花香&nbsp;&nbsp;5kg</span>
							<span class="yimi_new_goods_gy">心作坊  5kg</span>
							<span class="yimi_new_goods_price">￥118.00</span>
						</div>
						<div class="swiper-slide yimi_swiper_goods_img">
							<img src="img/74bb231e7f345f2b10084c3c6fbbfc9d6d88d3ae.png">
							<span class="yimi_goods_add"></span>
							<span class="yimi_new_goods_span">新疆游牧&nbsp;阿勒泰羊蝎子</span>
							<span class="yimi_new_goods_gy">清心湖  350g</span>
							<span class="yimi_new_goods_price">￥30.00</span>
						</div>
						<div class="swiper-slide yimi_swiper_goods_img">
							<img src="img/721a331f465efee7ce60b3fabdf36888e99bf7fd.png">
							<span class="yimi_goods_add"></span>
							<span class="yimi_new_goods_span">产地直供&nbsp;无常有机稻花香&nbsp;&nbsp;5kg</span>
							<span class="yimi_new_goods_gy">心作坊  5kg</span>
							<span class="yimi_new_goods_price">￥118.00</span>
						</div>
						<div class="swiper-slide yimi_swiper_goods_img">
							<span class="yimi_goods_add"></span>
							<img src="img/4c87842f91a945ce8488cce925bb900e3b4eaa4c.png">
							<span class="yimi_new_goods_span">禾咏原浆糯米酒</span>
							<span class="yimi_new_goods_gy">天地人禾 355ml</span>
							<span class="yimi_new_goods_price">￥58.00</span>
						</div>
						<div class="swiper-slide yimi_swiper_goods_img">
							<img src="img/f65701d0122a6dd9ec14de0ea1a1da7a839939ed.png">
							<span class="yimi_goods_add"></span>						
							<span class="yimi_new_goods_span">有机紫水晶火龙果 250-350g/个</span>
							<span class="yimi_new_goods_gy">紫有20°  2个</span>
							<span class="yimi_new_goods_price">￥35.00</span>
						</div>
						<div class="swiper-slide yimi_swiper_goods_img">
							<img src="img/0703c7919fec2ce33340c3834d21ac8fd72d3d90.png">
							<span class="yimi_goods_add"></span>
							<span class="yimi_new_goods_span">香辣火锅底料 纯素</span>
							<span class="yimi_new_goods_gy">天清心胡  350g</span>
							<span class="yimi_new_goods_price">￥30.00</span>
						</div>
						<div class="swiper-slide yimi_swiper_goods_img">
							<img src="img/0fc520dad174ec05e1745b93b3000f6d7a5e55bf.png">
							<span class="yimi_goods_add"></span>						
							<span class="yimi_new_goods_span">新疆有机银南瓜 细糯甘香</span>
							<span class="yimi_new_goods_gy">半亩园  1600g</span>
							<span class="yimi_new_goods_price">￥38.00</span>
						</div>
						<div class="swiper-slide yimi_swiper_goods_img">
							<img src="img/b4f42fba80b9acbbf86f3bfdb5495ef265ac9c40.png">
							<span class="yimi_goods_add"></span>
							<span class="yimi_new_goods_span">山黑猪冷冻五花肉片 </span>
							<span class="yimi_new_goods_gy">精气神  200g</span>
							<span class="yimi_new_goods_price">￥52.00</span>
						</div>
					</div>
				</div> 
			</div>
			<div class="yimi_goods_body">
				<div class="yimi_goods_border">
					<img src="img/1478243802549.jpg">
				</div>
				<div class="yimi_goods_border_two">
					<img src="img/1472203408568.jpg">
				</div>
				
			</div>
		</div>
	</body>
{% endblock bodyblock %}
	<script type="text/javascript" src="{% static "js/zepto.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/swiper.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/page.js" %}"></script>
	<script>
		var swiper = new Swiper('.swiper-container', {
	        pagination: '.swiper-pagination',
	        paginationClickable: true,
	        loop: false,
	        grabCursor: true,
	        autoplay: 3000
	   });
	   	   		
	</script>

