{% extends "front_base.html" %}
{% block titleblock %}
商品管理
{% endblock titleblock %}
{% block bodyblock %}
	{{block.super}}
	<div style="clear:both;"></div>
    <div style="height: 100%;background:skyblue; padding:100px;">
    <h2>商品列表</h2>
    <a href="" class="create btn btn-primary" id="C_shop" data-toggle="modal" data-target="#myModal">新增商品</a>
        <table class='tab'>
            <thead class='t_title'>
	            <tr>
					<td colspan="11">商品信息表</td>
				</tr>
            </thead>
            <tbody>
        	<tr class='t_title'>
        		<td>编号</td>
        		<td>商品名称</td>
        		<td>商品描述</td>
        		<td>商品图片</td>
        		<td>商品库存</td>
        		<td>商品价格</td>
        		<td>商品创建时间</td>
        		<td>商品分类</td>
        		<td>商品积分</td>
        		<td>操作</td>
        	</tr>
        	{% for com in commodity %}
        	<tr class='t_title'>
        		<td>{{com.uid}}</td>
        		<td>{{com.commodityName}}</td>
        		<td>{{com.commodityDes}}</td>
        		<td>{{com.commodityImg}}</td>
        		<td>{{com.commodityStock}}</td>
        		<td>{{com.commodityPrice}}</td>
        		<td>{{com.commodityCtime|date:"Y-m-d"}}</td>
        		<td>{{com.commondityCate.name}}</td>
        		<td>{{com.commodityPoints}}</td>
        		<td><a class="editcom" href="" id="{{com.uid}}"data-toggle="modal" data-target="#eDModal">编辑</a> | <a href="">删除</a></td>

        	</tr>
        	{%empty%}
        	{% endfor %}
        	</tbody>
        </table>
    </div>
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					新增商品
				</h4>
			</div>
			<div class="modal-body">
				<form role="form" method="POST">
				    <div class="form-group">
					     <label for="name">商品名称</label>
					     <input type="text" class="form-control" id="commodityName" placeholder="商品名称">
				    </div>
				    <div class="form-group">
				    	<label for="name">商品标签</label>
				    	<div class="checkbox">
					    {% for tag in tags %}
					    <label>
					    	<input type="checkbox" value="{{tag.id}}" name='tags' id='tag'>{{tag.tagName}}
					    </label>  	
					    {%empty%}
					    {% endfor %}
				    </div>
				    <div class="form-group">
					     <label for="name">商品分类</label>
					     <select id='categoryId' class="form-control">
					     <option>请选择</option>
					     {% for cate in category %}
						  <option value='{{cate.id}}' name='categoryId' >{{cate.name}}</option>
						  {% endfor %}
						</select>
				    </div>
				    <div class="form-group">
					     <label for="name">商品图片</label>
					     <input type="text" class="form-control"  id='commodityImg' placeholder="商品图片" name="commodityImg">
				    </div>
				    <div class="form-group">
					     <label for="name">商品库存</label>
					     <input type="text" class="form-control" placeholder="商品库存" name='commodityStock' id='commodityStock'>
				    </div>
				    <div class="form-group">
					     <label for="name">商品价格</label>
					     <input type="text" class="form-control" placeholder="商品价格"name='commodityPrice' id='commodityPrice'>
				    </div>
				    <div class="form-group">
					     <label for="name">商品积分</label>
					     <input type="text" class="form-control" placeholder="商品积分"name='points' id='points'>
				    </div>
				    <div class="form-group">
						<label for="name">商品描述</label>
						<textarea id='commodityDes' class="form-control" rows="3"></textarea>
					</div>
				  	</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button id='submit_c' type="button" class="btn btn-primary">
					提交并保存
				</button>
			</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<div class="modal fade" id="eDModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					编辑商品
					<input type="hidden" name="" value="" class="editid">
				</h4>
			</div>
			<div class="modal-body">
				<form role="form" method="POST">
				    <div class="form-group">
					     <label for="name">商品名称</label>
					     <input type="text" class="form-control" id="E_commodityName" placeholder="商品名称">
				    </div>
				    <div class="form-group">
				    	<label for="name">商品标签</label>
				    	<div class="checkbox">
					    {% for tag in tags %}
					    <label class="checktag">
					    	<input type="checkbox" value="{{tag.id}}" name='tags' id='{{tag.id}}' class="eTag">{{tag.tagName}}
					    </label>  	
					    {%empty%}
					    {% endfor %}
				    </div>
				    <div class="form-group">
					     <label for="name">商品分类</label>
					     <select id='E_categoryId' class="form-control">
					     <option>请选择</option>
					     {% for cate in category %}
						  <option value='{{cate.id}}' name='categoryId' >{{cate.name}}</option>
						  {% endfor %}
						</select>
				    </div>
				    <div class="form-group">
					     <label for="name">商品图片</label>
					     <input type="text" class="form-control"  id='E_commodityImg' placeholder="商品图片" name="commodityImg">
				    </div>
				    <div class="form-group">
					     <label for="name">商品库存</label>
					     <input type="text" class="form-control" placeholder="商品库存" name='commodityStock' id='E_commodityStock'>
				    </div>
				    <div class="form-group">
					     <label for="name">商品价格</label>
					     <input type="text" class="form-control" placeholder="商品价格"name='commodityPrice' id='E_commodityPrice'>
				    </div>
				    <div class="form-group">
					     <label for="name">商品积分</label>
					     <input type="text" class="form-control" placeholder="商品积分"name='points' id='E_points'>
				    </div>
				    <div class="form-group">
						<label for="name">商品描述</label>
						<textarea id='E_commodityDes' class="form-control" rows="3"></textarea>
					</div>
				  	</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button id='submit_e' type="button" class="btn btn-primary">
					提交并保存
				</button>
			</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
{% endblock bodyblock %}